body{
	margin-top: 55px;
}
.jumbotron{
	background-image: url("../images/banner.jpg");
	color:white;
	text-shadow: 0.1em 0.1em 0.2em gray
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
}
/* .card-hotel{
	flex: 1 200px;
	margin-bottom: 10px;
} */
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}